<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Ảnh Nền Di Động</title>
</head>
<% include Nav%>
<body class="container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="margin: 6px; margin-top: 20px;margin-bottom: 30px">
  <div class="col">
    <div class="card shadow-sm" >
      <img src="https://1.bp.blogspot.com/-NGw9a588DCA/XwWqZV16QPI/AAAAAAAAqD8/peEcN8fyFrIHRILktbSm2NphSHaMxjDAwCLcBGAsYHQ/s1600/Suu-tam-anh-dep%2B%252813%2529.jpg">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Ngọn lửa</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-02-10</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm" >
      <img src="https://i.pinimg.com/236x/99/44/b7/9944b79c0f56fc68a80bba29d755a81e.jpg">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">The Pink Panther</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-04-02</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm" >
<img src="https://i.pinimg.com/236x/2c/47/e8/2c47e8fd7ba13f9ac173f489409ace33.jpg">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Bầu Trời</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-01-23</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm" >
   <img src="https://images.pexels.com/photos/1122639/pexels-photo-1122639.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Hòa Hồng</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-03-03</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm" >
<img src="https://images.pexels.com/photos/1699020/pexels-photo-1699020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">City</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-03-21</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm" >
      <img src="https://images.pexels.com/photos/1253661/pexels-photo-1253661.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Sun Flower</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-03-31</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm" >
      <img src="https://1.bp.blogspot.com/-lDMugP3gomY/XwWqdyzpSRI/AAAAAAAAqFI/Z0LYWb71Ad0qIAbEMUtnyBhHOgwbeUwLACLcBGAsYHQ/s1600/Suu-tam-anh-dep%2B%252830%2529.jpg">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Lofi</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-03-06</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm" >
      <img src="https://1.bp.blogspot.com/-H5cquyfM1Oc/XwWqcGcfK8I/AAAAAAAAqEk/bvnvF4I3Nw40_mqchmkALKh_MB0NloyuwCLcBGAsYHQ/s1600/Suu-tam-anh-dep%2B%252823%2529.jpg">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Chill Coffee</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-01-31</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm" >
      <img src="https://1.bp.blogspot.com/-el1D6u8VP3E/XwWqcFcqqQI/AAAAAAAAqEs/SpJWFcCgemgODdBtsBn1QKOlMUsu54R4ACLcBGAsYHQ/s1600/Suu-tam-anh-dep%2B%252824%2529.jpg">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Christmas</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-03-09</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm" >
      <img src="https://1.bp.blogspot.com/-p84UB4Jpzwo/XwWqeVVIJ-I/AAAAAAAAqFQ/MtTzFFA-dgQ_6VRDH_m8g_kgCMHJRBC3wCLcBGAsYHQ/s1600/Suu-tam-anh-dep%2B%252832%2529.jpg">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Girl</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-02-08</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm" >
      <img src="https://1.bp.blogspot.com/-6PAJ764q8RI/XwWqeVBPhaI/AAAAAAAAqFU/7t6cpBS6ZVQgWP4fN3YHVRCs0hesgT7BgCLcBGAsYHQ/s1600/Suu-tam-anh-dep%2B%252833%2529.jpg">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Beautiful girl</p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-02-23</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm" >
      <img src="https://1.bp.blogspot.com/-XbC0jJpMOt0/XwWqf-EEEUI/AAAAAAAAqFo/rgr16qUNiQsR1CBzrgYGFRUYxo_49C4RwCLcBGAsYHQ/s1600/Suu-tam-anh-dep%2B%252838%2529.jpg">
      <div class="card-body">
        <p class="card-text" style="font-weight: 568;">Night street lights </p>
        <p class="card-text" style="font-size: 14px">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">Sửa</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Xóa</button>
          </div>
          <small class="text-muted">2022-01-22</small>
        </div>
      </div>
    </div>
  </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">

</script>
</body>
</html>
